body {
    background-color: rgb(45,77,62);
    font-family: 'Cabin Sketch', cursive;
    color: whitesmoke;
}

main {
    margin: 20px 0px 0px 0px;
}

header {
    font-family: 'Indie Flower', cursive;
}

footer {
    font-family: 'Indie Flower', cursive;
}

jumbo {
    font-family: 'Amatic SC', cursive;
    color:black;
}

.card-text {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

#letter-sofar {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: white;
}
.card {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: black;
}